ProtectoraWebAnimales/xml/fitxaMascotas.dtd

<!ELEMENT veterinario (mascota+)>

<!ELEMENT mascota (chip, nombre, fechaNacimiento, pedigree, peso,
 color, foto, propietario?, vacunas, visitas)>
<!ATTLIST mascota idMascota ID #REQUIRED sexo (macho | hembra) #REQUIRED tipoPelo (corto | largo | rizado) #REQUIRED>

<!ELEMENT chip (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT fechaNacimiento (#PCDATA)>
<!ELEMENT pedigree (#PCDATA)>
<!ELEMENT peso (#PCDATA)>
<!ELEMENT color (#PCDATA)>
<!ELEMENT foto (#PCDATA)>

<!ELEMENT propietario (nombre, apellido, direccion, email, telefono)>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT direccion (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT telefono (#PCDATA)>

<!ELEMENT vacunas (vacuna*)>
<!ELEMENT vacuna (nombre, fechaAdministracion?, fechaProxima?)>
<!ATTLIST vacuna laboratorio CDATA #IMPLIED>

<!ELEMENT fechaAdministracion (#PCDATA)>
<!ELEMENT fechaProxima (#PCDATA)>

<!ELEMENT visitas (visita+)>
<!ELEMENT visita (fecha, motivo, diagnostico, tratamiento, alta)>
<!ATTLIST visita idVisita ID #REQUIRED>

<!ELEMENT fecha (#PCDATA)>
<!ELEMENT motivo (#PCDATA)>
<!ELEMENT diagnostico (#PCDATA)>
<!ELEMENT tratamiento (#PCDATA)>
<!ELEMENT alta (#PCDATA)>